<div class="main-container">
  <img src="./assets/svg/TuHogar_Logo.svg" alt="Logo TuHogar" class="logo" />
  <hr />
  <div class="site-map">
    <h3 class="subtitle">SITEMAP</h3>
    <ul>
      <li class="line-hovered" (click)="goTo('')">Home</li>
      <li class="line-hovered" (click)="goTo('viviendas')">Viviendas</li>
      <li class="line-hovered" (click)="goTo('contacto')">Contacto</li>
      <li class="line-hovered" (click)="goTo('nosotros')">Nosotros</li>
      <li>Sitios
        <ul>
          <li class="line-hovered" (click)="goTo('punta-umbria')">Punta Umbría</li>
          <li class="line-hovered" (click)="goTo('huelva')">Huelva</li>
          <li class="line-hovered" (click)="goTo('el-portil')">El Portil</li>
          <li class="line-hovered" (click)="goTo('el-rompido')">El Rompido</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="closing-title">
    <h4>Tu hogar, nuestra pasión. Confía en nosotros para encontrar la propiedad de tus sueños.</h4>
  </div>
  <div class="social-media">
    <img
      src="./assets/svg/facebook.svg"
      alt="Logo facebook"
      class="icon facebook"
    />
    <img
      src="./assets/svg/instagram.svg"
      alt="Logo instagram"
      class="icon insta"
    />
  </div>
</div>
