@import "theme";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  min-height: 250px;
  padding-bottom: 20px;
  border: 1px solid $mid-gray;
  border-radius: 10px;
  box-shadow: $box-shadow;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  .title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    transition: all 0.5s ease-out;
    transform: translateY(150px);
    color: white;
  }
  .info {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
    z-index: 1;
  }
}
.main-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}
.main-container:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Color semitransparente */
}

.main-container:hover {
  .title {
    transform: translate(0, 0);
    top: 10px;
    left: 10px;
    font-size: 1.5em;
  }
  .info {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: $ml-breakpoint) {
  .main-container {
    width: 330px;
  }
}
@media (max-width: $sm-breakpoint) {
  .main-container {
    width: 90vw;
  }
}
